<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias alias="AdminUser" type="pojo.AdminUser"/>
        <typeAlias alias="User" type="pojo.User"/>
        <typeAlias alias="Floor" type="pojo.Floor"/>
        <typeAlias alias="Seat" type="pojo.Seat"/>
        <typeAlias alias="Recording" type="pojo.Recording"/>

    </typeAliases>
    <mappers>
<!--        //admin-->
        <mapper resource="mybatis/admin/AdminMapper.xml"/>
        <mapper resource="mybatis/admin/AdminUserMapper.xml"/>
        <mapper resource="mybatis/admin/AdminSeatMapper.xml"/>
        <mapper resource="mybatis/admin/AdminRecordMapper.xml"/>
        <mapper resource="mybatis/admin/AdminBlackMapper.xml"/>
<!--        //user-->
        <mapper resource="mybatis/user/UserMapper.xml"/>
        <mapper resource="mybatis/user/SeatMapper.xml"/>
        <mapper resource="mybatis/user/RecordingMapper.xml"/>
    </mappers>
</configuration>

